<li draggable="true" data-content-block-manifest-name="<%= element %>">
  <div class="draggable-content">
    <%= element.element_type %>
    <div>
      <%= link_to edit_home_element_path(element), class: "button tiny hollow" do %>
        <%= icon "pencil", role: "img", "aria-hidden": true %>
      <% end %>
      <%= icon "menu", role: "img", "aria-hidden": true %>
    </div>
  </div>
</li>
