<%= render partial: "decidim/shared/component_announcement" %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <%= decidim_sanitize_editor_admin translated_attribute(@home.body) %>
      </div>

      <div class="section">
        <!-- Display banner image -->
        <h1>BANNER</h1>
        <%= image_tag @home.banner.url if @home.banner.present? %>
      </div>

      <div class="section">
        <!-- Display organizer images -->
        <h1>ORGANIZERS</h1>
        <% @home.organizers.each do |organizer| %>
          <%= image_tag organizer.url if organizer.present? %>
        <% end %>
      </div>

      <div class="section">
        <!-- Display latest 3 posts from Decidim::Blog::Post -->
        <h1>LATEST POSTS</h1>
        <% if @home.news? && @home.news_id.present? %>
          <% latest_posts = Decidim::Blogs::Post.where(component: @home.news_id).order(created_at: :desc).limit(3) %>
          <% if latest_posts.any? %>
            <% latest_posts.each do |post| %>
              <div class="card card--post">
                <% if post.photo.present? %>
                  <%= image_tag post.photo.url, class: "card__image" %>
                <% end %>
                <div class="card__content">
                  <div class="card__header">
                    <h2 class="card__title">
                      <%= translated_attribute post.title %>
                    </h2>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>      
    </div>
  </div>
</div>
