<div class="card">
  <div class="card-divider">
    <h2 class="card-title toggle-settings">
      Ordens
    </h2>
  </div>
  <div class="card-section">
    <%= form.text_field :orders, label: "Ordens" %>
  </div>
  <div class="card-divider">
    <h2 class="card-title toggle-settings">
      Header
    </h2>
  </div>
  <div class="card-section">
    <%= form.text_field :header_title, label: "Header Title" %>
    <%= form.text_area :header_subtitle, label: "Header Subtitle" %>
  </div>
  <div class="card-divider">
    <h2 class="card-title toggle-settings">
      Etapas
    </h2>
  </div>
  <div class="card-section">
    <%= form.text_field :steps_title, label: "Steps Title" %>
    <%= form.text_field :steps_subtitle, label: "Steps Subtitle" %>
  </div>
  <div class="card-divider">
    <h2 class="card-title toggle-settings">
      Destaque
    </h2>
  </div>
  <div class="card-section">
    <%= form.text_field :emphasis_title, label: "Emphasis Title" %>
    <%= form.file_field :banner, id: 'banner-image-input' %>
    <%= form.text_field :emphasis_subtitle, label: "Emphasis Subtitle" %>
    <%= form.text_field :emphasis_button_text, label: "Emphasis Button Text" %>
    <%= form.text_field :emphasis_link, label: "Emphasis Link" %>
  </div>
  <div class="card-divider">
    <h2 class="card-title toggle-settings">
      Participação
    </h2>
  </div>
  <div class="card-section">
    <%= form.text_field :participation_title, label: "Participation Title" %>
    <%= form.text_field :participation_title, label: "Participation Subtitle" %>
  </div>
  <div class="card-divider">
    <h2 class="card-title toggle-settings">
      Mapa
    </h2>
  </div>
  <div class="card-section">
    <%= form.check_box :map_able, label: "Mapa Able" %>
  </div>
  <div class="card-divider">
    <h2 class="card-title toggle-settings">
      Noticia
    </h2>
  </div>
  <div class="card-section">
    <%= form.check_box :news %>
    <%= form.number_field :news_id, label: t("models.components.news_id", scope: "decidim.homes.admin") %>
    <div id="news-id-field" style="<%= 'display: none;' unless @home.news %>">
      <%= form.check_box :meetings_map %>
    </div>
  </div>
  <div class="card-divider">
    <h2 class="card-title toggle-settings">
      Organizadores
    </h2>
  </div>
  <div class="card-section">
    <%= form.file_field :organizers, id: 'organizers-image-input', multiple: true, name: 'home[organizers][]' , direct_upload: true, id:"organizers-image-input"  %>
  </div>
  <div class="card-section">
  </div>
  <div class="card-divider">
    <h2 class="card-title toggle-settings">
      Patrocinadores
    </h2>
  </div>
  <div class="card-section">
    <%= form.file_field :supporters, id: 'supporters-image-input', multiple: true, name: 'home[supporters][]', id:"supporters-image-input"  %>
  </div>
</div>
<script>
  $(document).ready(function() {
    $(".settings-section").hide();

    $(".toggle-settings").on("click", function() {
      $(".settings-section").slideToggle();
    });

    // Add an event listener to toggle the visibility of the news_id field
    $(document).on("change", "#home_news", function () {
      var newsIdField = $("#news-id-field");

      // Use jQuery to toggle the visibility of the news_id field
      newsIdField.toggle($(this).is(":checked"));
    });

    $("#home_banner").on("change", function(e) {
      showImagePreview(e.target.files[0], $(".banner-container"));
    });

    $("#home_organizers").on("change", function(e) {
      showImagePreviews(e.target.files, $(".organizers-container"));
    });

    $("#home_supporters").on("change", function(e) {
      showImagePreviews(e.target.files, $(".supporters-container"));
    });

    function showImagePreview(file, container) {
      var reader = new FileReader();
      reader.onload = function(e) {
        console.log(e.target);
        container.html('<img class="banner-image" src="' + e.target.result + '" alt="Imagem"/>');
      };
      reader.readAsDataURL(file);
    }

    function showImagePreviews(files, container) {
      container.html("");
      for (var i = 0; i < files.length; i++) {
        showImagePreview(files[i], container);
      }
    }

    // Adicione um evento de mudança para o campo de arquivo dos organizadores
    $("#home_organizers").on("change", function(e) {
      showAndStoreImages(e.target.files, $(".organizers-container"));
    });

    // Adicione um evento de mudança para o campo de arquivo dos apoiadores
    $("#home_supporters").on("change", function(e) {
      showAndStoreImages(e.target.files, $(".supporters-container"));
    });

    // Função para exibir e armazenar imagens no campo de entrada de arquivo oculto
    function showAndStoreImages(files, container) {
      container.html(""); // Limpa o contêiner antes de adicionar novas imagens

      var uploadedImagesInput = $("#uploaded-images-input");
      var existingImages = uploadedImagesInput.data("existing-images") || [];

      for (var i = 0; i < files.length; i++) {
        var reader = new FileReader();
        reader.onload = function(e) {
          container.append('<div class="image-preview"><img src="' + e.target.result + '" alt="Imagem"/><button class="remove-image">Remover</button></div>');
        };
        reader.readAsDataURL(files[i]);

        existingImages.push(null); // Adiciona uma entrada nula para imagens recém-adicionadas
      }

      // Atualiza os dados do campo de entrada de arquivo oculto
      uploadedImagesInput.val("");
      uploadedImagesInput.data("existing-images", existingImages);
    }

    // Adiciona um evento de clique para remover imagens
    $(document).on("click", ".remove-image", function() {
      var index = $(this).parent().index();
      var uploadedImagesInput = $("#uploaded-images-input");
      var existingImages = uploadedImagesInput.data("existing-images");

      if (index < existingImages.length) {
        existingImages.splice(index, 1); // Remove a entrada correspondente
        uploadedImagesInput.data("existing-images", existingImages);
      }

      $(this).parent().remove();
    });

    // Adiciona um evento de envio do formulário para atualizar o campo de entrada de arquivo
    $("form").on("submit", function() {
      updateUploadedImagesInput();
    });

    // Função para atualizar o campo de entrada de arquivo com as imagens existentes
    function updateUploadedImagesInput() {
      var uploadedImagesInput = $("#uploaded-images-input");
      var existingImages = uploadedImagesInput.data("existing-images") || [];

      // Atualiza o valor do campo de entrada de arquivo com as imagens existentes
      uploadedImagesInput.val(existingImages.filter(Boolean).join(","));
    }
  });
</script>
<style>
  .banner-container,
  .supporters-container,
  .organizers-container{
    margin: 5px;
  }

  .form h3{
    margin: 1rem;
  }
</style>
