<% action_url = properties['link'] %>
<div class="br-container-lg call_to_action-container <%= properties['reverse'] ? 'reverse' : '' %>">
  <% if action_url.include?('youtube') %>
    <div class="action_img-container">
      <iframe 
        class="home__video-iframe" 
        src="" 
        video_url="<%= properties["link"] %>" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      >
      </iframe>
    </div>
  <% else %>
    <div class="action_img-container" style="background-image: url('<%= properties["link"] %>')"></div>
  <% end %>
  <div class="action_content-container">
    <div class="action_content-text">
      <h2 class="action_title"><%= properties['title'] %></h2>
      <p class="action_text"><%= properties['text'] %></p>
    </div>
    <%= link_to(properties['button_text'], properties['link'], class: "br-button primary action_link") %>
  </div>
</div>
