<% action_url = '/' %>
<div class="call_to_action-container <%= @home.reverse_call_to_action ? 'reverse' : '' %>">
  <% if action_url.include?('youtube') %>
    <div class="action_img-container">
      <iframe 
        class="home__video-iframe" 
        src="" 
        video_url="<%= action_url %>" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      >
      </iframe>
    </div>
  <% else %>
    <div class="action_img-container" style="background-image: url('<%= action_url %>')"></div>
  <% end %>
  <div class="action_content-container">
    <div class="action_content-text">
      <h2 class="action_title"><%= @home.emphasis_title %></h2>
      <p class="action_text"><%= @home.emphasis_subtitle %></p>
    </div>
    <%= link_to(@home.emphasis_button_text, @home.emphasis_link, class: "br-button primary action_link") %>
  </div>
</div>
