<div>
  <div class="blue-bp-divider"></div>
  <div class="participatory_cards-container">
    <div class="br-container-lg participatory_cards-info">
      <div class="cards-title-container">
        <h2 class="participatory_cards-title"><%= properties["title"] %></h2>
        <% if properties["subtitle"]%>
          <h3 class="participatory_cards-subtitle"><%= properties["subtitle"] %></h3>
        <% end %>
      </div>
      <div class="cards_info-container">
        <% properties["items"].try(:each) do |card| %>
          <a class="cards_info-content" href="<%= card["link"] %>">
            <div class="cards_icon-container">
              <i class="fa-solid <%= card["icon"] %>"></i>
            </div>
            <div class="cards_info-text">
              <h3><%= card["title"] %></h3>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="blue-bp-divider"></div>
</div>