<div>
  <div class="blue-bp-divider" style="filter: invert(100%) sepia(91%) saturate(589%) hue-rotate(178deg) brightness(103%) contrast(97%);"></div>
  <div class="step_cards-container">
    <div class="br-container-lg step_cards-info">
      <h2 class="step_cards-title"><%= properties["title"] %></h2>
        <% properties["items"].try(:each) do |card| %>
          <%= card["icon"] %>
          <%= card["description"] %>
          <%= card["step"] %>
          <%= card["date"] %>
        <% end %>
    </div>
  </div>
  <div class="blue-bp-divider" style="filter: invert(100%) sepia(91%) saturate(589%) hue-rotate(178deg) brightness(103%) contrast(97%);"></div>
</div>