<%= render partial: "decidim/shared/component_announcement" %>

<section class="carousel-container">
    <%= image_tag @home.banner.url, class: "carousel-container" if @home.banner.present? %>
</section>

<section id="create-profile-container">
  <a href="/users/sign_in" class="create-profile-link">
    <div class="create-profile-link-icon"><i class="fa-solid fa-user"></i></div>
    <span class="create-profile-link-text">Criar perfil</span>
  </a>
</section>

<section class="actions-section br-container">
  <% if @home.organize_stage != '/' %>
    <a class="action-container" href=<% @home.organize_stage %>>
      <div class="action-icon-background">
        <i class="fa-solid fa-bullhorn fa-2xl"></i>
      </div>
      <p class="action-text">Organize uma etapa</p>
    </a>
  <% end %>
  <% if @home.schedule != '/' %>
    <a class="action-container" href=<% @home.schedule %>>
      <div class="action-icon-background">
        <i class="fa-solid fa-file-alt fa-2xl"></i>
      </div>
      <p class="action-text">Agenda</p>
    </a>
  <% end %>
  <% if @home.common_questions!= '/' %>
    <a class="action-container" href=<% @home.common_questions %>>
      <div class="action-icon-background">
        <i class="fa-solid fa-question fa-2xl"></i>
      </div>
      <p class="action-text">Perguntas frequentes</p>
    </a>
  <% end %>
  <% if @home.support_material!= '/' %>
    <a class="action-container" href=<% @home.support_material %>>
      <div class="action-icon-background">
        <i class="fa-solid fa-check-circle fa-2xl"></i>
      </div>
      <p class="action-text">Material de apoio</p>
    </a>
  <% end %>
</section>

<section id="news-home-section" class="home-sections-container br-container-lg">
  <h1>Notícias</h1>
  <div class="home-sections-content">
    <div class="news-container">
      <% current_url = URI(request.original_url) %>
      <% modified_url = current_url.to_s.sub(/\/f\/\d+\//, '/') %>
      <% modified_url << "/" unless modified_url.ends_with?("/") %>
      <% if @home.news_section_enabled? %>
        <% @latest_posts.each do |post| %>
          <a href=<%= "#{modified_url}f/#{@home.news_id}/posts/#{post.id}" %> class="news-card">
            <% if post.photo.present? %>
              <%= image_tag post.photo.url, class: "news-img", alt: "" %>
            <% end %>
            <span class="news-title">
              <%= translated_attribute(post.title) %>
            </span>
          </a>
        <% end %>
      <% end %>
    </div>
    <div class="centered-content">
      <a href=<% "#{modified_url}f/#{@home.news_id}/" %> class="br-button secondary" type="button"> Mais novidades </a>
    </div>
  </div>
</section>

<section class="br-container-lg">
  <h1>Organizadores</h1>
  <div class="organization-container">
    <% @organizers.each do |organizer| %>
      <a class="logo-items" href="<%= organizer.link %>" target="_blank">
        <%= image_tag(organizer.attached_uploader(:logo).path, alt: organizer.name) if organizer.logo.attached? %>
      </a>
    <% end %>
  </div>
</section>

<section class="br-container-lg">
  <h1>Apoiadores</h1>
  <div class="supporters-container">
    <% @supporters.each do |support| %>
      <a class="logo-items" href="<%= support.link %>" target="_blank">
        <%= image_tag(support.attached_uploader(:logo).path, alt: support.name) if support.logo.attached? %>
      </a>
    <% end %>
  </div>
</section>
