<%= render partial: 'brazil_map', locals: {
  has_map: @home.meetings_map,
  main_app: main_app,
  current_participatory_space: current_participatory_space } %>

<%= render partial: 'steps' %>

<%= render partial: 'carrosel'%>

<%= render partial: 'participatory-cards' %>

<%= render partial: 'logos_section', locals: {
  organizers: @organizers,
  supporters: @supporters
} %>

<% current_url = URI(request.original_url) %>
<% modified_url = current_url.to_s.sub(/\/f\/\d+\//, '/') %>
<% if @home.news_section_enabled? %>
  <section id="news-custom-home-section" class="home-sections-container br-container-lg">
    <h2>Notícias</h2>
    <div class="home-sections-content">
      <div class="news-container">
        <% if @latest_posts.any? %>
          <% @latest_posts.each do |post| %>
            <a href="<%= "/#{modified_url}" %>" class="news-card-home">
              <% if post.photo.present? %>
                <%= image_tag post.photo.url, class: "news-img", alt: "" %>
              <% end %>
              <span class="news-title">
                <%= translated_attribute(post.title) %>
              </span>
            </a>
          <% end %>
        <% else %>
          <p>Não há notícias</p>
        <% end %>
      </div>
      <% if @latest_posts.size == 3 %>
        <div class="centered-content">
          <a href="<%= "#{modified_url}f/#{@home.news_id}/" %>" class="br-button secondary" type="button">
            Mais Notícias
          </a>
        </div>
      <% end %>
    </div>
  </section>
<% end %>

<%= render partial: 'basic_logos_section' %>